@charset "UTF-8";

$asset-path: "../../../assets/";
$asset-img-path: "../../../assets/img/";
$primary-blue: #0544e8;
$primary-blue-dark: #020541;
$text-black-dark: #030d21;
$text-black: #2a2a2a;
$text-grey-dark: #4a4a4a;
$text-grey: #767a83;
$text-grey-light: #b3b3b3;
$text-grey-lighter: #e8e8e8;
$text-white: #fff;
$text-blue: #1251fc;
$line-grey-light: #e1e2e6;
$line-border-grey: #efefef;
$main-bg: #edeef2;
$table-header: #f5f6fa;
$table-bg: #545f76;
$table-bg-lighter: #d7dae0;
$table-bg-white: #f8f7fa;
$toast-btn-blue: #c5d5fc;
$btn-hover-blue:  rgba(18, 81, 252, 0.06);
$font-size-xxl: 20px;
$font-size-xl: 18px;
$font-size-l: 16px;
$font-size-m: 14px;
$font-size-s: 12px;
$font-header-s: 22px;
$font-header-m: 24px;
$font-header-l: 26px;
$font-header-xl: 28px;